<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spring Field</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="../assets/fontawesome-free-6.1.0-web/css/all.css"
    />
    <!--CSS FILE-->
    <link rel="stylesheet" href="./about.css" />
  </head>
  <body>
    <!--Nav Bar-->
    <nav class="nav-section">
      <!--Bar Icon-->
      <div class="nav-icon-box">
        <div class="bar-line"></div>
        <div class="bar-line line-two"></div>
        <div class="bar-line"></div>
      </div>
      <div class="logo-box" id="company-logo">
        <img src="../images/about-logo.png" alt="Logo Text" class="logo-img" />
      </div>
      <article class="desktop-nav-box">
        <ul class="desktop-nav-list">
          <li><a href="../index.html">HOME</a></li>
          <li><a href="./about.html">ABOUT</a></li>
          <li><a href="./service.html">SERVICES</a></li>
          <li><a href="./shop.html">SHOP</a></li>
          <li><a href="./contact.html">CONTACT</a></li>
        </ul>
      </article>
      <section class="side-menu">
        <div class="close-btn-box">
          <span
            ><i
              class="fa fa-times close-btn about-close-btn"
              id="close-btn"
              aria-hidden="true"
            ></i
          ></span>
        </div>
        <div class="menu-logo-box">
          <img
            src="../images/about-logo.png"
            alt="Logo Text"
            class="menu-logo-img"
          />
        </div>
        <ul class="side-menu-list about-menu">
          <li>
            <a href="../index.html">HOME</a>
          </li>
          <div class="side-menu-divider"></div>
          <li>
            <a href="./service.html">SERVICES</a>
          </li>
          <div class="side-menu-divider"></div>
          <li>
            <a href="./about.html">ABOUT</a>
          </li>
          <div class="side-menu-divider"></div>
          <li>
            <a href="./shop.html">SHOP</a>
          </li>
          <div class="side-menu-divider"></div>

          <li>
            <a href="./contact.html">CONTACT</a>
          </li>
          <div class="side-menu-divider"></div>
        </ul>
      </section>
    </nav>
    <!--About Hero Section-->
    <section class="about-hero-section">
      <h1>ABOUT US</h1>
      <h3 class="about-hero-text">Who we are</h3>
    </section>

    <section class="delivery-section">
      <div class="delivery-items">
        <article class="single-delivery-detail first-item" id="first-item">
          <div class="delivery-img">
            <img src="../images/icons8-cup-cake-100.png" alt="Carrot" />
          </div>
          <h5 class="about-detail">
            We process various types of foods items into quality items with
            natural methods of preservation ensuring long lasting quality food
            items.
          </h5>
          <div class="divider about-divider"></div>
        </article>

        <article class="single-delivery-detail second-item">
          <div class="delivery-img">
            <img src="../images/icons8-dessert-100.png" alt="Carrot" />
          </div>

          <h5 class="about-detail">
            Our shop is available both online and offline, enabling you select
            items that you want and make payments seamlessly
          </h5>
          <div class="divider about-divider"></div>
        </article>
        <article class="single-delivery-detail third-item">
          <div class="delivery-img">
            <img src="../images/icons8-teapot-100.png" alt="Carrot" />
          </div>

          <h5 class="about-detail">
            We handle the logistics of delivery for you so you don’t have to
            worry. All what you need to do is relax and get your selected items
            to your doorstep
          </h5>
        </article>
      </div>
    </section>
    <section class="story-section">
      <h1 class="story-header">Ingredients</h1>
      <article class="about-story">
        <div class="story-img-box">
          <img src="../images/inner_image_01.jpg" alt="" class="story-img" />
        </div>

        <div class="story-text-box">
          <h1>Overview of <span>Spring Food</span></h1>
          <h5>
            We’ve been making amazing artisan cupcakes by hand, in small batches
            since 2018.
          </h5>
          <p>
            Springfood is a choice leading food processing and grocery store
            website in Bayelsa, Nigeria. Founded on 2020, we have dedicated
            ourselves to serve Nigerians both home and abroad (in diaspora) by
            providing them easy access to healthy and quality food items.
          </p>
          <p>
            Some of our products include: Chocolate cake jelly-o brownie,carrot
            cake bonbon, Fruitcake cake bear, claw ice cream, powder candy,
            canes carrot cake halvah, Candy caramels,croissant lemon, drops
            muffin,wafer biscuit macaroon chocolate bar, Pastry sweet roll
            bonbon, Candy canes topping oat cake liquorice etc.
          </p>
        </div>
      </article>
    </section>
    <section class="story-section">
      <article class="about-story">
        <div class="story-img-box ingredient-img">
          <h1 class="story-header">Ingredients</h1>
          <img src="../images/inner_image_02.jpg" alt="" class="story-img" />
        </div>

        <div class="story-text-box">
          <h1><span>Natural</span>ingredients</h1>
          <h5>
            We use the absolute best ingredients money can buy and everything we
            do is about flavour, the quality and taste that consumers love.
          </h5>
          <p>
            Chocolate cake jelly-o brownie I love carrot cake bonbon. Fruitcake
            cake bear claw ice cream powder candy canes carrot cake halvah.
            Candy caramels croissant lemon drops muffin wafer biscuit macaroon
            chocolate bar. Pastry sweet roll bonbon. Candy canes topping oat
            cake liquorice.
          </p>
          <section class="delivery-section">
            <div class="delivery-items">
              <article
                class="single-delivery-detail first-item"
                id="first-item"
              >
                <div class="delivery-img">
                  <img src="../images/icons8-cup-cake-100.png" alt="Carrot" />
                </div>
                <h5 class="about-detail">
                  Shop on our website or visit us physically on our address,
                  select items you would like to purchase
                </h5>
                <div class="divider about-divider"></div>
              </article>

              <article class="single-delivery-detail second-item">
                <div class="delivery-img">
                  <img src="../images/icons8-dessert-100.png" alt="Carrot" />
                </div>

                <h5 class="about-detail">
                  We confirm your items and you make payment with us. (This can
                  be done on the website if you shop online, or physical pay to
                  us in our location)
                </h5>
                <div class="divider about-divider"></div>
              </article>
              <article class="single-delivery-detail third-item">
                <div class="delivery-img">
                  <img src="../images/icons8-teapot-100.png" alt="Carrot" />
                </div>

                <h5 class="about-detail">
                  You get your items shipped to you wherever you are in the
                  world.
                </h5>
              </article>
            </div>
          </section>
        </div>
      </article>
    </section>
    <section class="story-section">
      <article class="about-story">
        <div class="story-img-box">
          <h1 class="story-header">Ordering</h1>
          <img src="../images/inner_image_02.jpg" alt="" class="story-img" />
        </div>

        <div class="story-text-box">
          <h1>Little treats that deliver big <span>smiles</span></h1>
          <h5>
            Cupcakes are ideal for everything from barbecues to brunches and
            buffets to elegant dinner parties.
          </h5>
          <p>
            Cookie cake marshmallow apple pie tiramisu chocolate bar pudding
            cotton candy dragée. Oat cake marshmallow caramels jelly beans
            tiramisu lollipop muffin carrot cake. Powder jujubes gummies cake.
            Jelly apple pie cookie cookie dessert cheesecake bear claw wafer.
          </p>
          <article class="btn-container products-link about-shop-box">
            <a href="./shop.html" class="link about-shop-link"
              >VISIT OUR SHOPS</a
            >
          </article>
        </div>
      </article>
      <div class="underline about-page-underline"></div>
    </section>
    <footer class="footer-section about-footer">
      <div class="email-icon-box">
        <img src="../images/about-footer-icon.png" alt="Email Icon" />
      </div>
      <div class="footer-texts">
        <h2 class="footer-header about-footer">
          Stay informed about special offers
        </h2>
        <p>Subscribe to the newsletter</p>
      </div>
      <form action="" class="subscribe-form">
        <input
          type="text"
          placeholder="Enter your Email"
          class="email-address"
        />
        <div class="subscribe-btn-container">
          <button type="submit" class="subscribe-btn about-subscribe">
            SUBSCRIBE
          </button>
        </div>
      </form>
      <section>
        <!--Footer Links-->
        <article>
          <ul class="footer-list">
            <li><a href="./shop.html">Shop</a></li>
            <li><a href="./shop.html">Payment Method</a></li>
            <li><a href="./shop.html">FAQs</a></li>
            <li><a href="./shop.html">Orders & Shipping</a></li>
            <li><a href="./shop.html">Payment Method</a></li>
            <li><a href="./shop.html">Terms & Conditions</a></li>
          </ul>
        </article>

        <div class="footer-contact-details">
          <h4 class="footer-category-header">CONTACT</h4>
          <div class="footer-details">
            <!-- Icon -->
            <span
              ><i class="fa fa-map-marker detail-icon" aria-hidden="true"></i
            ></span>
            <p>
              699 Melford Okilo Road beside old immigration office Yenezuegene,
              Yenegoa, Bayelsa state
            </p>
          </div>
          <div class="footer-details">
            <span>
              <i class="fa-solid fa-envelope detail-icon"></i>
            </span>
            <p>office@boldthemes.com</p>
          </div>
          <!--Footer Link-->
          <ul class="footer-icons">
            <li class="footer-icon-box about-icon-box">
              <a href=""
                ><span>
                  <i
                    class="fa-brands fa-twitter twitter footer-icon about-footer-icon"
                  ></i></span
              ></a>
            </li>
            <li class="footer-icon-box about-icon-box">
              <a href=""
                ><span
                  ><i
                    class="fa-brands fa-instagram instagram footer-icon about-footer-icon"
                  ></i></span
              ></a>
            </li>
            <li class="footer-icon-box about-icon-box">
              <a href="">
                <span>
                  <i
                    class="fa-brands fa-facebook-f facebook footer-icon about-footer-icon"
                  ></i
                ></span>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <div class="underline"></div>
      <div class="website-copyright">
        <p>©2021 BoldThemes All rights reserved</p>
      </div>
    </footer>
  </body>
  <script src="../Javascript/main.js"></script>
</html>
