<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="../assets/fontawesome-free-6.1.0-web/css/all.css"
    />
    <!--CSS FILE-->
    <link rel="stylesheet" href="./shop.css" />
  </head>
  <body>
    <!--Nav Bar-->
    <nav class="nav-section">
      <!--Bar Icon-->
      <div class="nav-icon-box">
        <div class="bar-line"></div>
        <div class="bar-line line-two"></div>
        <div class="bar-line"></div>
      </div>
      <div class="logo-box shop-menu-box" id="company-logo">
        <p>Springfoods</p>
      </div>
      <article class="desktop-nav-box">
        <ul class="desktop-nav-list">
          <li><a href="../index.html">HOME</a></li>
          <li><a href="./about.html">ABOUT</a></li>
          <li><a href="./service.html">SERVICES</a></li>
          <li><a href="./shop.html">SHOP</a></li>
          <li><a href="./contact.html">CONTACT</a></li>
        </ul>
      </article>
      <section class="side-menu">
        <div class="close-btn-box">
          <span
            ><i
              class="fa fa-times close-btn about-close-btn"
              id="close-btn"
              aria-hidden="true"
            ></i
          ></span>
        </div>
        <div class="menu-logo-box shop-menu-box">
          <p>Springfoods</p>
        </div>

        <ul class="side-menu-list about-menu">
          <li>
            <a href="../index.html">HOME</a>
          </li>
          <div class="side-menu-divider"></div>
          <li>
            <a href="./service.html">SERVICES</a>
          </li>
          <div class="side-menu-divider"></div>
          <li>
            <a href="./about.html">ABOUT</a>
          </li>
          <div class="side-menu-divider"></div>
          <li>
           <a href="./shop.html">SHOP</a>
          </li>
          <div class="side-menu-divider"></div> 
          </li>

          <li>
            <a href="./contact.html">CONTACT</a>
          </li>
          <div class="side-menu-divider"></div>
        </ul>
      </section>
    </nav>
    <!--Shop Hero Section-->
    <section class="about-hero-section shop-hero">
      <h1>Why Shop with us</h1>
      <h3 class="service-hero-text">We making amazing artisan cupcakes</h3>
    </section>

    <article class="sorting-section">
      <p>Showing 1-9 of 26 results</p>
      <form action="" class="shop-sort-form">
       <button class="sorting-btn" type="submit">Default Sorting</button>
       <ul class="sorting-list">
         <li> <a href="">Less than $5</a></li>
         <li><a href="">Greater than $10</a></li>
         <li><a href="">Greater than $50</a></li>
         <li><a href="">$50</a></li>
         <li><a href="">$100</a></li>
       </ul>
      </form>
    </article>

    <section class="shop-items">
      <!--Single Product-->
      <div class="shop-cart">
        <article class="single-product shop-item">
          <a href="home.html">
            <div class="product-img-container">
              <img
                src="../images/shop-images/product_12.png"
                alt="Carrot"
                class="product-img"
              />
            </div>
            <div class="product-details">
              <a href="" class="veggie-text shop-veggie-text">VEGGIE</a>
              <a href="" title="Artichoke" class="carrot-text shop-item-title"
                >Artichoke</a
              >
              <p>$3.90/kg</p>
              <button type="submit" class="cart-btn">ADD TO CART</button>
            </div>
          </a>
        </article>
        <!--End of Single Product-->
        <!--Single Product-->
        <article class="single-product shop-item">
          <a href="home.html">
            <div class="product-img-container">
              <img
                src="../images/shop-images/product_10.png"
                alt="Carrot"
                class="product-img"
              />
            </div>
            <div class="product-details">
              <a href="" class="veggie-text shop-veggie-text">VEGGIE</a>
              <a href="" title="Avocado" class="carrot-text shop-item-title"
                >Avocado</a
              >
              <p>$8.50/kg</p>
              <button type="submit" class="cart-btn">ADD TO CART</button>
            </div>
          </a>
        </article>
        <!--End of Single Product-->
        <!--Single Product-->
        <article class="single-product shop-item">
          <a href="home.html">
            <div class="product-img-container">
              <img
                src="../images/shop-images/product_07.png"
                alt="Carrot"
                class="product-img"
              />
            </div>
            <div class="product-details">
              <a href="" class="veggie-text shop-veggie-text">VEGGIE</a>
              <a
                href=""
                title="Baby Carrots"
                class="carrot-text shop-item-title"
                >Baby Carrots</a
              >
              <p>$5.00/kg</p>
              <button type="submit" class="cart-btn">ADD TO CART</button>
            </div>
          </a>
        </article>
        <!--End of Single Product-->
        <!--Single Product-->
        <article class="single-product shop-item">
          <a href="home.html">
            <div class="product-img-container">
              <img
                src="../images/shop-images/product_14-100x100.png"
                alt="Carrot"
                class="product-img"
              />
            </div>
            <div class="product-details">
              <a href="" class="veggie-text shop-veggie-text">VEGGIE</a>
              <a href="" title="Baby Potato" class="carrot-text shop-item-title"
                >Baby Potato</a
              >
              <p>$7.00/kg</p>
              <button type="submit" class="cart-btn">ADD TO CART</button>
            </div>
          </a>
        </article>
        <!--End of Single Product-->
        <!--Single Product-->
        <article class="single-product shop-item">
          <a href="home.html">
            <div class="product-type shop-type">
              <h4>NEW!</h4>
            </div>
            <div class="product-img-container">
              <img
                src="../images/shop-images/product_02.png"
                alt="Carrot"
                class="product-img"
              />
            </div>
            <div class="product-details">
              <a href="" class="veggie-text shop-veggie-text">FULL FLAVOR</a>
              <a
                href=""
                title="Berry Amaretto"
                class="carrot-text shop-item-title"
                >Berry Amaretto</a
              >
              <p>$2.50/kg</p>
              <button type="submit" class="cart-btn">ADD TO CART</button>
            </div>
          </a>
        </article>
        <!--End of Single Product-->
        <!--Single Product-->
        <article class="single-product shop-item">
          <a href="home.html">
            <div class="product-img-container">
              <img
                src="../images/shop-images/product_01-300x300.png"
                alt="Carrot"
                class="product-img"
              />
            </div>
            <div class="product-details">
              <a href="" class="veggie-text shop-veggie-text">DAIRY FREE</a>
              <a
                href=""
                title="Baby Carrots"
                class="carrot-text shop-item-title"
                >Birthday Cake</a
              >
              <p>$3.75/kg</p>
              <button type="submit" class="cart-btn">ADD TO CART</button>
            </div>
          </a>
        </article>
        <!--End of Single Product-->
        <!--Single Product-->
        <article class="single-product shop-item">
          <a href="home.html">
            <div class="product-img-container">
              <img
                src="../images/shop-images/product_24-300x300.png"
                alt="Carrot"
                class="product-img"
              />
            </div>
            <div class="product-details">
              <a href="" class="veggie-text shop-veggie-text">MULTI FLOWER</a>
              <a href="" title="Baby Potato" class="carrot-text shop-item-title"
                >Black Sage</a
              >
              <p>$20.00/kg</p>
              <button type="submit" class="cart-btn">ADD TO CART</button>
            </div>
          </a>
        </article>
        <!--End of Single Product-->

        <!--Single Product-->
        <article class="single-product shop-item">
          <a href="home.html">
            <div class="product-img-container">
              <img
                src="../images/shop-images/product_25-300x300.png"
                alt="Carrot"
                class="product-img"
              />
            </div>
            <div class="product-details">
              <a href="" class="veggie-text shop-veggie-text">SINGLE ORIGIN</a>
              <a href="" title="Baby Potato" class="carrot-text shop-item-title"
                >Blueberry</a
              >
              <p>$18.00/kg</p>
              <button type="submit" class="cart-btn">ADD TO CART</button>
            </div>
          </a>
        </article>
        <!--End of Single Product-->
        <!--Single Product-->
        <div>
          <article class="single-product shop-item">
            <a href="home.html">
              <div class="product-img-container">
                <img
                  src="../images/shop-images/product_21.png"
                  alt="Carrot"
                  class="product-img"
                />
              </div>
              <div class="product-details">
                <a href="" class="veggie-text shop-veggie-text">DAIRY FREE</a>
                <a
                  href=""
                  title="Baby Carrots"
                  class="carrot-text shop-item-title"
                  >Birthday Cake</a
                >
                <p>$3.75/kg</p>
                <button type="submit" class="cart-btn">ADD TO CART</button>
              </div>
            </a>
          </article>
          <article class="shop-nav">
            <div class="page-nav-box">
              <p>1</p>
            </div>
            <div class="page-nav-box">
              <a href="">2</a>
            </div>
            <div class="page-nav-box">
              <a href="">3</a>
            </div>
            <div class="page-nav-box">
              <a href="" class="shop-nav-arrow">
                <span> <i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </div>
          </article>
        </div>
      </div>
      <div>
        <!--End of Single Product-->

        <article class="cart-section">
          <div class="cart-search-box">
            <input
              type="text"
              placeholder="Looking for..."
              class="cart-search-input"
            />
            <div class="search-icon-box">
              <button type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>
          <div class="added-cart-items">
            <h2 class="cart-header">Cart</h2>
            <div class="single-cart-item">
              <div>
                <a href=""
                  ><img
                    src="../images/shop-images/product_02-100x100.png"
                    alt=""
                    class="cart-img"
                /></a>
              </div>
              <div class="cart-item-details">
                <h4>Berry Amaretto</h4>
                <p>1 × $2.50</p>
              </div>
              <div class="cart-close-btn">
                <button type="submit" title="Remove this item">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="single-cart-item">
              <div>
                <a href=""
                  ><img
                    src="../images/shop-images/product_01-100x100.png"
                    alt=""
                    class="cart-img"
                /></a>
              </div>
              <div class="cart-item-details">
                <h4>Berry Amaretto</h4>
                <p>1 × $2.50</p>
              </div>
              <div class="cart-close-btn">
                <button type="submit" title="Remove this item">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="single-cart-item">
              <div>
                <a href=""
                  ><img
                    src="../images/shop-images/product_21-100x100.png"
                    alt=""
                    class="cart-img"
                /></a>
              </div>
              <div class="cart-item-details">
                <h4>Berry Amaretto</h4>
                <p>1 × $2.50</p>
              </div>
              <div class="cart-close-btn">
                <button type="submit" title="Remove this item">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="underline shop-underline"></div>
            <div class="total-cart-amount">
              <h4>Subtotal</h4>
              <h5>$13.75</h5>
            </div>
            <div class="view-cart-box">
              <button type="submit" class="cart-btn">VIEW CART</button>
            </div>
            <div class="checkout-cart-box">
              <button type="submit" class="cart-btn">CHECKOUT</button>
            </div>
          </div>
        </article>
      </div>
    </section>

    <footer class="footer-section service-footer">
      <div class="email-icon-box">
        <img src="../images/about-footer-icon.png" alt="Email Icon" />
      </div>
      <div class="footer-texts">
        <h2 class="footer-header about-footer">
          Stay informed about special offers
        </h2>
        <p>Subscribe to the newsletter</p>
      </div>
      <form action="" class="subscribe-form">
        <input
          type="text"
          placeholder="Enter your Email"
          class="email-address"
        />
        <div class="subscribe-btn-container">
          <button type="submit" class="subscribe-btn about-subscribe">
            SUBSCRIBE
          </button>
        </div>
      </form>
      <section>
        <!--Footer Links-->
        <article>
          <ul class="footer-list">
            <li><a href="./shop.html">Shop</a></li>
            <li><a href="./shop.html">Payment Method</a></li>
            <li><a href="./shop.html">FAQs</a></li>
            <li><a href="./shop.html">Orders & Shipping</a></li>
            <li><a href="./shop.html">Payment Method</a></li>
            <li><a href="./shop.html">Terms & Conditions</a></li>
          </ul>
        </article>

        <div class="footer-contact-details">
          <h4 class="footer-category-header">CONTACT</h4>
          <div class="footer-details">
            <!-- Icon -->
            <span
              ><i class="fa fa-map-marker detail-icon" aria-hidden="true"></i
            ></span>
            <p> 699 Melford Okilo Road beside old immigration office Yenezuegene,
              Yenegoa, Bayelsa state</p>
          </div>
          <div class="footer-details">
            <span>
              <i class="fa-solid fa-envelope detail-icon"></i>
            </span>
            <p>office@boldthemes.com</p>
          </div>
          <!--Footer Link-->
          <ul class="footer-icons">
            <li class="footer-icon-box about-icon-box">
              <a href=""
                ><span>
                  <i
                    class="fa-brands fa-twitter twitter footer-icon about-footer-icon"
                  ></i></span
              ></a>
            </li>
            <li class="footer-icon-box about-icon-box">
              <a href=""
                ><span
                  ><i
                    class="fa-brands fa-instagram instagram footer-icon about-footer-icon"
                  ></i></span
              ></a>
            </li>
            <li class="footer-icon-box about-icon-box">
              <a href="">
                <span>
                  <i
                    class="fa-brands fa-facebook-f facebook footer-icon about-footer-icon"
                  ></i
                ></span>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <div class="underline"></div>
      <div class="website-copyright">
        <p>©2021 BoldThemes All rights reserved</p>
      </div>
    </footer>
  </body>
  <script src="../Javascript/main.js"></script>
</html>
